/* Reset et base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Flex", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

/* Logo */
.logo {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Le main prend tout l'espace restant */
main {
  flex: 1;
}

main.apropos-container {
  max-width: 900px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    font-size: 2.5rem;
    font-weight: 900;
    font-family: "Amarante", serif;
    margin-bottom: 20px;
}

section h2 {
  font-size: 1.5rem;
  color: #000000;
  margin-bottom: 0.5rem;
}

ul {
  padding-left: 1.5rem;
}


a {
  font-family: "Inter", sans-serif;
  color: #F66960;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  font-weight: 800;
}

p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 1rem;
}



/* Footer */
.footer-content {
    color: #000;
    padding: 2.5rem 1rem;
    text-align: center;
    font-size: 1rem;
    line-height: 1.6rem;
}

.footer-content a {
    color: #F66960;
    text-decoration: none;
    font-weight: 900;
}

.footer-content a:hover {
    text-decoration: underline;
}
